@{
    ViewData["Title"] = "Register";
}

<style>
    body.register-page footer {
        display: none;
    }

    body {
        background-image: url('/img/image/login.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-content {
        padding: 40px;
    }
</style>

<section class="login-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12" style="padding-top: 100px">
                <div class="login-content" style="border-radius: 20px; background-color: rgba(22, 21, 12, 0.9);">
                    <h3 style="color: white">Fleur D Amour (them logo o day)</h3>
                    <div class="login-form">
                        <form method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="user" placeholder="UserName" style="border-radius: 10px">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="accountname" placeholder="AccountName" style="border-radius: 10px">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email" style="border-radius: 10px">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="address" placeholder="Address" style="border-radius: 10px">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="phone" placeholder="Phone" style="border-radius: 10px">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="pass" placeholder="Password" style="border-radius: 10px">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" style="border-radius: 10px">
                            </div>
                            @if (@ViewBag.Error != null)
                            {
                                <div class="mt-4">
                                    <div class="d-flex justify-content-center links">
                                        <span style="font-weight:bold; color: red;">@ViewBag.Error</span>
                                    </div>
                                </div>
                            }
                            <button type="submit" class="btn oneMusic-btn mt-30" style="border-radius: 10px">Register</button>
                        </form>
                        <div class="mt-4">
                            <div class="d-flex justify-content-center links" style="color: white">
                                Already have an account? <a asp-action="Login" class="ml-2" style="color:#DCC40C">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
